css
html {
  height: 100%;
  width: 100%;
}

.divide1 {
  height: 600px;
  width: 800px;
  position: relative;
  background-color: #F8F9F9;
  margin: auto;
}
.divide2 {
  position: absolute;
  top: 20%;
  left: 10%;
  height: 75%;
  width: 80%;
}

.divide3 {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 70%;
  width: 100%;
}

.divide4 {
  position: absolute;
  top: 80%;
  left: 0%;
  height: 20%;
  width: 100%;
}

.divide5 {
  position: absolute;
  top: 0;
  left: 67%;
  height: 100%;
  width: 33%;
  background-color: black;
  color: white;
}

.divide6 {
  position: absolute;
  top: 0;
  left: 0;
  height: 55%;
  width: 65%;
}
.image1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.divide7 {
  position: absolute;
  top: 60%;
  left: 0;
  height: 40%;
  width: 25%;
}

.divide8 {
  position: absolute;
  top: 60%;
  left: 35%;
  height: 40%;
  width: 30%;
  background-color: white;
}
.big_letter {
  font-size: 250%;
  margin-left: 10%;
  padding-top: 45px;
  color: black;
}
.readmore {
  background-color: #E74C3C;
  color: white;
  width: 60%;
  height: 25%;
  border: none;
  position: absolute;
  left: 0;
  top: 75%;
}
.web_text {
  font-size: 206.25%;
  margin: auto;
}

.long_text {
  font-size: 62.5%;
  color: #99A3A4;
  line-height: 1.5;
}

h1 {
  font-size: 187.5%;
  color: #EB984E;
}
h2 {
  font-size: 93.75%;
}

p {
  font-size: 62.5%;
}

hr {
  width: 90%;
}
.divide9 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 13%;
}

.divide10 {
  position: absolute;
  top: 0;
  left: 33.3%;
  height: 100%;
  width: 13%;
}

.divide11 {
  position: absolute;
  top: 0;
  left: 66.6%;
  height: 100%;
  width: 13%;
}
.space1 {
  position: absolute;
  top: 0%;
  left: 13%;
  width: 20.3%;
  height: 100%;
  background-color: white;
}
.space2 {
  position: absolute;
  top: 0%;
  left: 46.3%;
  width: 20.3%;
  height: 100%;
  background-color: white;
}
.space3 {
  position: absolute;
  top: 0%;
  left: 79.6%;
  width: 20.333%;
  height: 100%;
  background-color: white;
}
.pc_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.line1 {
  color: #D5DBDB;
  font-size: 125%;
  margin-left: 10px;
  margin-bottom: 0;
  margin-top: 0;
}
.line2 {
  font-size: 68.75%;
  margin-left: 10px;
  margin-bottom: 0;
}

.line3 {
  font-size: 62.5%;
  margin-left: 10px;
  margin-bottom: 0;
  color: #D5DBDB;
  line-height: 1.5;
}
.level2 {
  color: #D5DBDB;
}